<div class="list-quizz__container">
  <div class="list-quizz_logo">
    <img src="assets/imgs/logo.png" alt="" srcset="">
    <h3>Quizz</h3>
  </div>

  <div class="list-quizz_options">

    <!-- <button
      *ngFor="let option of questionSelected.options; let i = index"
      (click)="playerChoose(option.alias)"
      class="btn-option"
    >
      {{option.name}}
    </button> -->

    <button class="btn-option"
      *ngFor="let question of quizzes; let i = index"
      (click)="quizz()"
    >
      {{question.title}}
    </button>

  </div>

</div>
